aim==3.10.3
einops==0.4.1
hydra-colorlog==1.2.0
hydra-core==1.2.0
matplotlib==3.5.2
pandas==1.4.2
Pillow==9.1.1
scikit-image==0.19.3
scikit-learn==1.1.1
torch-fidelity==0.3.0
torch==1.11.0
torchvision==0.12.0